menu "Project Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "mySSID"
        help
            SSID (network name) for the ESP to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "myPassword"
        help
            WiFi password for the ESP to connect to.

    config MAX_CONNECTION_RETRIES
        int "Max WiFi Connection Retries"
        default 5
        range 1 50
        help
            The maximum number of retries to connect to the AP in the event of loss of connection.

    config MDNS_HOSTNAME
        string "mDNS Hostname"
        default "LedMatrix"
        help
            The ESP's mDNS hostname for finding the device on the network.

    config PANEL_WIDTH
        int "LED Panel Width"
        default 64
        help
            The width, in pixels, of your HUB75 LED Matrix

    config PANEL_HEIGHT
        int "LED Panel Height"
        default 64
        help
            The height, in pixels, of your HUB75 LED Matrix
endmenu
